.drawio-chrome/chrome-data/CrashpadMetrics-active.pma
.drawio-chrome/chrome-data/CrashpadMetrics.pma
.drawio-chrome/chrome-data/DevToolsActivePort
.drawio-chrome/chrome-data/Last Version
.drawio-chrome/chrome-data/Local State
.drawio-chrome/chrome-data/Module Info Cache
.drawio-chrome/chrome-data/BrowserMetrics/BrowserMetrics-5E318A18-50F8.pma
.drawio-chrome/chrome-data/BrowserMetrics/BrowserMetrics-5E3186A0-36E0.pma
.drawio-chrome/chrome-data/Crashpad/metadata
.drawio-chrome/chrome-data/Crashpad/settings.dat
.drawio-chrome/chrome-data/Crashpad/reports/f2157cb5-22e2-43f0-a9e0-1e6539bba8eb.dmp
.drawio-chrome/chrome-data/Default/Cookies
.drawio-chrome/chrome-data/Default/Cookies-journal
.drawio-chrome/chrome-data/Default/Current Session
.drawio-chrome/chrome-data/Default/Current Tabs
.drawio-chrome/chrome-data/Default/Favicons
.drawio-chrome/chrome-data/Default/Favicons-journal
.drawio-chrome/chrome-data/Default/heavy_ad_intervention_opt_out.db
.drawio-chrome/chrome-data/Default/heavy_ad_intervention_opt_out.db-journal
.drawio-chrome/chrome-data/Default/History
.drawio-chrome/chrome-data/Default/History Provider Cache
.drawio-chrome/chrome-data/Default/History-journal
.drawio-chrome/chrome-data/Default/Last Session
.drawio-chrome/chrome-data/Default/Last Tabs
.drawio-chrome/chrome-data/Default/Login Data
.drawio-chrome/chrome-data/Default/Login Data-journal
.drawio-chrome/chrome-data/Default/Network Action Predictor
.drawio-chrome/chrome-data/Default/Network Action Predictor-journal
.drawio-chrome/chrome-data/Default/Network Persistent State
.drawio-chrome/chrome-data/Default/Preferences
.drawio-chrome/chrome-data/Default/previews_opt_out.db
.drawio-chrome/chrome-data/Default/previews_opt_out.db-journal
.drawio-chrome/chrome-data/Default/QuotaManager
.drawio-chrome/chrome-data/Default/QuotaManager-journal
.drawio-chrome/chrome-data/Default/README
.drawio-chrome/chrome-data/Default/Reporting and NEL
.drawio-chrome/chrome-data/Default/Reporting and NEL-journal
.drawio-chrome/chrome-data/Default/Secure Preferences
.drawio-chrome/chrome-data/Default/Shortcuts
.drawio-chrome/chrome-data/Default/Shortcuts-journal
.drawio-chrome/chrome-data/Default/Top Sites
.drawio-chrome/chrome-data/Default/Top Sites-journal
.drawio-chrome/chrome-data/Default/Translate Ranker Model
.drawio-chrome/chrome-data/Default/TransportSecurity
.drawio-chrome/chrome-data/Default/Visited Links
.drawio-chrome/chrome-data/Default/Web Data
.drawio-chrome/chrome-data/Default/Web Data-journal
.drawio-chrome/chrome-data/Default/AutofillStrikeDatabase/000003.log
.drawio-chrome/chrome-data/Default/AutofillStrikeDatabase/CURRENT
.drawio-chrome/chrome-data/Default/AutofillStrikeDatabase/LOCK
.drawio-chrome/chrome-data/Default/AutofillStrikeDatabase/LOG
.drawio-chrome/chrome-data/Default/AutofillStrikeDatabase/MANIFEST-000001
.drawio-chrome/chrome-data/Default/BudgetDatabase/000003.log
.drawio-chrome/chrome-data/Default/BudgetDatabase/CURRENT
.drawio-chrome/chrome-data/Default/BudgetDatabase/LOCK
.drawio-chrome/chrome-data/Default/BudgetDatabase/LOG
.drawio-chrome/chrome-data/Default/BudgetDatabase/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Cache/data_0
.drawio-chrome/chrome-data/Default/Cache/data_1
.drawio-chrome/chrome-data/Default/Cache/data_2
.drawio-chrome/chrome-data/Default/Cache/data_3
.drawio-chrome/chrome-data/Default/Cache/f_000001
.drawio-chrome/chrome-data/Default/Cache/f_000002
.drawio-chrome/chrome-data/Default/Cache/f_000003
.drawio-chrome/chrome-data/Default/Cache/f_000004
.drawio-chrome/chrome-data/Default/Cache/f_000005
.drawio-chrome/chrome-data/Default/Cache/f_000006
.drawio-chrome/chrome-data/Default/Cache/f_000007
.drawio-chrome/chrome-data/Default/Cache/f_000008
.drawio-chrome/chrome-data/Default/Cache/index
.drawio-chrome/chrome-data/Default/Code Cache/js/index
.drawio-chrome/chrome-data/Default/Code Cache/js/index-dir/the-real-index
.drawio-chrome/chrome-data/Default/Extension State/000003.log
.drawio-chrome/chrome-data/Default/Extension State/CURRENT
.drawio-chrome/chrome-data/Default/Extension State/LOCK
.drawio-chrome/chrome-data/Default/Extension State/LOG
.drawio-chrome/chrome-data/Default/Extension State/LOG.old
.drawio-chrome/chrome-data/Default/Extension State/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/AvailabilityDB/000003.log
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/AvailabilityDB/CURRENT
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/AvailabilityDB/LOG
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/AvailabilityDB/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/EventDB/000003.log
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/EventDB/CURRENT
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/EventDB/LOCK
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/EventDB/LOG
.drawio-chrome/chrome-data/Default/Feature Engagement Tracker/EventDB/MANIFEST-000001
.drawio-chrome/chrome-data/Default/GPUCache/data_0
.drawio-chrome/chrome-data/Default/GPUCache/data_1
.drawio-chrome/chrome-data/Default/GPUCache/data_2
.drawio-chrome/chrome-data/Default/GPUCache/data_3
.drawio-chrome/chrome-data/Default/GPUCache/index
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/000003.log
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/CURRENT
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/LOCK
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/LOG
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/LOG.old
.drawio-chrome/chrome-data/Default/Local Storage/leveldb/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Platform Notifications/000003.log
.drawio-chrome/chrome-data/Default/Platform Notifications/CURRENT
.drawio-chrome/chrome-data/Default/Platform Notifications/LOCK
.drawio-chrome/chrome-data/Default/Platform Notifications/LOG
.drawio-chrome/chrome-data/Default/Platform Notifications/LOG.old
.drawio-chrome/chrome-data/Default/Platform Notifications/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/index.txt
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/0a26a62a827a762d_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/0a58520c080454d8_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/2aeaba3b3c98517a_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/2cd1e3690fe99b4c_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/2d27ba13307ef901_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/4cf57d54b349d4e7_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/5a156fa116dafc08_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/5f035e4f5fa83b40_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/7dde1482eb1fc41a_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/8d3d5bdfd374a0f3_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/8f8d62dcb287d73d_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/9f72e2cf1f1b6dc3_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/10d422cf7ab99120_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/18d9067ac5fd3819_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/22b386a2b35db7a6_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/30a29f22f9044f1d_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/030da9ebcd4cd449_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/040dacf7fc518ee2_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/44dfae711378cec0_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/44dfae711378cec0_1
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/53d7d6572a0ae947_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/74ab04d132fa5ab9_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/81acad49dfaa13b7_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/81f284d9ffc110b6_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/83a5ff83a3df0238_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/120f57b19f31d00c_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/481a09cc007e3be7_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/813a2aedee9a50c5_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/9946a41fe28c07a6_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/33135de7a3b87427_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/33135de7a3b87427_1
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/44850a88e55659ec_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/65999af7c906e5e3_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/3298659b69fc8ed9_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/a4c2aeaf47cf3601_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/a5b200a8ffc6fe59_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/ba928e3beaa63576_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/bab827e8f4e984e3_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/be2209a42c0bed2e_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/be2209a42c0bed2e_1
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/c2b8325f48fdcdea_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/ca309f357a424b8d_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/cc69feb385fd1ed0_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/d3e53f06fbede77c_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/d5f3a71120d26c6e_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/d5f3a71120d26c6e_1
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/d2803b4ab8b5e0e2_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/e70509476fdad5b9_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/e70509476fdad5b9_1
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/f0ffe45df38fec53_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/f5dc1fdddb73940b_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/ff662e46b9d1f8bd_0
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/index
.drawio-chrome/chrome-data/Default/Service Worker/CacheStorage/e6c8fe72dfb20df4fb661bc4f9e52ed86a4a9ae2/6625ea04-800e-45c7-b2ec-ae4e9fd654c5/index-dir/the-real-index
.drawio-chrome/chrome-data/Default/Service Worker/Database/000003.log
.drawio-chrome/chrome-data/Default/Service Worker/Database/CURRENT
.drawio-chrome/chrome-data/Default/Service Worker/Database/LOCK
.drawio-chrome/chrome-data/Default/Service Worker/Database/LOG
.drawio-chrome/chrome-data/Default/Service Worker/Database/LOG.old
.drawio-chrome/chrome-data/Default/Service Worker/Database/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_1
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/4cb013792b196a35_0
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/4cb013792b196a35_1
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/ba23d8ecda68de77_0
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/ba23d8ecda68de77_1
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/f1cdccba37924bda_0
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/f1cdccba37924bda_1
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/index
.drawio-chrome/chrome-data/Default/Service Worker/ScriptCache/index-dir/the-real-index
.drawio-chrome/chrome-data/Default/Session Storage/000003.log
.drawio-chrome/chrome-data/Default/Session Storage/CURRENT
.drawio-chrome/chrome-data/Default/Session Storage/LOCK
.drawio-chrome/chrome-data/Default/Session Storage/LOG
.drawio-chrome/chrome-data/Default/Session Storage/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Site Characteristics Database/000003.log
.drawio-chrome/chrome-data/Default/Site Characteristics Database/CURRENT
.drawio-chrome/chrome-data/Default/Site Characteristics Database/LOCK
.drawio-chrome/chrome-data/Default/Site Characteristics Database/LOG
.drawio-chrome/chrome-data/Default/Site Characteristics Database/LOG.old
.drawio-chrome/chrome-data/Default/Site Characteristics Database/MANIFEST-000001
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/000003.log
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/CURRENT
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/LOCK
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/LOG
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/LOG.old
.drawio-chrome/chrome-data/Default/Sync Data/LevelDB/MANIFEST-000001
.drawio-chrome/chrome-data/Default/data_reduction_proxy_leveldb/000003.log
.drawio-chrome/chrome-data/Default/data_reduction_proxy_leveldb/CURRENT
.drawio-chrome/chrome-data/Default/data_reduction_proxy_leveldb/LOCK
.drawio-chrome/chrome-data/Default/data_reduction_proxy_leveldb/LOG
.drawio-chrome/chrome-data/Default/data_reduction_proxy_leveldb/MANIFEST-000002
.drawio-chrome/chrome-data/Default/databases/Databases.db
.drawio-chrome/chrome-data/Default/databases/Databases.db-journal
.drawio-chrome/chrome-data/Default/shared_proto_db/LOCK
.drawio-chrome/chrome-data/Default/shared_proto_db/LOG
.drawio-chrome/chrome-data/Default/shared_proto_db/metadata/000003.log
.drawio-chrome/chrome-data/Default/shared_proto_db/metadata/CURRENT
.drawio-chrome/chrome-data/Default/shared_proto_db/metadata/LOCK
.drawio-chrome/chrome-data/Default/shared_proto_db/metadata/LOG
.drawio-chrome/chrome-data/Default/shared_proto_db/metadata/MANIFEST-000001
.drawio-chrome/chrome-data/ShaderCache/GPUCache/data_0
.drawio-chrome/chrome-data/ShaderCache/GPUCache/data_1
.drawio-chrome/chrome-data/ShaderCache/GPUCache/data_2
.drawio-chrome/chrome-data/ShaderCache/GPUCache/data_3
.drawio-chrome/chrome-data/ShaderCache/GPUCache/index
